@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .chart-gradient {
    background: linear-gradient(180deg, rgba(17, 82, 212, 0.2) 0%, rgba(17, 82, 212, 0) 100%);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50;
}